<div class="modal is-active" *ngIf="!seen">
    <div class="modal-background"></div>
    <div class="modal-content padding-2">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">businessClicker</p>
                    <p class="subtitle is-6">by Erik Lundstrom</p>
                    <p><strong>Welcome to MoneyMaker!</strong><br>
                        This game is about making as much money as possible, you do this by upgrading businesses and
                        clicking on the click-area.</p>
                    <button class="button is-primary" (click)="ok()">Ok!</button>
                </div>
            </div>
        </div>
    </div>
</div>