<app-header></app-header>
<router-outlet *ngIf="cookies"></router-outlet>
<section class="hero is-dark is-bold is-fullheight-with-navbar double-navbar" *ngIf="!cookies">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello!
            </h1>
            <h2 class="subtitle">
                This games needs your permission to use localstorage(cookies).
                Give permission by clicking the button below.
            </h2>
            <button class="button is-success" (click)="enableLocalStorage()">Accept</button>
        </div>
    </div>
</section>
<app-footer *ngIf="!cookies"></app-footer>